@use "./reset";

* {
  font-family: "Noto Sans", serif;
}

body {
  display         : flex;
  align-items     : center;
  justify-content : center;
  height          : 100vh;
  background-color: #CBCBE7;
}

// 結算畫面
.popup-box {
  display         : flex;
  align-items     : center;
  justify-content : center;
  position        : fixed;
  z-index         : 10;
  width           : 100%;
  height          : 100%;
  background-color: #0000003a;

  .popup {
    display         : flex;
    flex-direction  : column;
    max-width       : 400px;
    width           : 100%;
    background-color: #FFF;
    border-radius   : 8px;
    box-shadow      : 0 0 5px 1px #00000016;
    padding         : 15px;
  }
}

// 隱藏 and 顯示
.popup-box {
  opacity       : 0;
  pointer-events: none;
  transition    : all .25s ease;

  &.show {
    opacity       : 1;
    pointer-events: all;
  }
}


.popup {

  .title {
    text-align : center;
    font-size  : 1.6rem;
    font-weight: 500;
  }

  .info {
    font-weight: 500;
    font-size  : 1rem;
    margin     : 10px 0;

    strong {
      color    : #9797b7;
      font-size: 1.1rem;
    }
  }

  .close-btn {
    cursor          : pointer;
    margin-top      : 15px;
    font-size       : 1rem;
    color           : #9797b7;
    border          : 2px solid #9797b7;
    background-color: #FFF;
  }
}

// 遊戲區塊
.wrapper {
  background-color: #FFF;
  border-radius   : 8px;
  padding         : 25px;
  box-shadow      : 0 0 5px 1px #00000016;

  .cards {
    display              : grid;
    gap                  : 20px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.cards {

  .card {
    width           : 150px;
    height          : 150px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: #FFF;
    box-shadow      : 0 0 10px 2px #00000016;
    border-radius   : 5px;
    perspective     : 1000px; // 啟用 3D 效果
    position        : relative;
    cursor          : pointer;

    .view {
      backface-visibility: hidden; // 隱藏未正面的內容
      position           : absolute;
      color              : #CBCBE7;
      font-size          : 4rem;
      transition         : all .5s ease;
    }

    .front-view {
      display        : flex;
      align-items    : center;
      justify-content: center;
      font-size      : 4rem;
      color          : #CBCBE7;
    }

    .back-view {
      display        : flex;
      align-items    : center;
      justify-content: center;
      font-size      : 4rem;
      color          : #CBCBE7;
      transform      : rotateY(-180deg); // 背面默認翻轉 180 度
    }

    &.flip {
      .front-view {
        transform: rotateY(180deg); // 正面翻轉到背面
      }

      .back-view {
        transform: rotateY(0); // 背面翻轉到正面
      }
    }
  }
}

// 翻牌錯誤效果
.shake {
  animation: shake .35s ease-in-out;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-13px);
  }

  40% {
    transform: translateX(13px);
  }

  60% {
    transform: translateX(-8px);
  }

  80% {
    transform: translateX(8px);
  }
}

.details {
  width           : 100%;
  height          : 60px;
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  margin-top      : 30px;
  background-color: #FFF;
  border-radius   : 8px;
  box-shadow      : 0 0 5px 1px #00000016;

  p {
    font-size      : 1.25rem;
    // border-right: 1px solid #ccc;
    padding        : 0 50px;

    span {
      margin-left: 8px;
    }

    b {
      color      : #9797b7;
      font-weight: 500;
    }
  }

  button {
    cursor          : pointer;
    color           : #9797b7;
    background-color: #FFF;
    border          : 2px solid #9797b7;
    padding         : 3px 12px;
    border-radius   : 5px;
    font-size       : 1.1rem;
    margin-right    : 50px;
    transition      : all .03s ease;

    &:active {
      transform: scale(.95);
    }
  }
}